.myorders-wrapper {
    padding: 20px 30px;
    background-color: transparent;
    color: #fff;
}

.myorders-header {
    margin-top: 2.2rem;
    background: rgba(255, 255, 255, 0.2);
    /* Backdrop filter effect */
    backdrop-filter: blur(10px);
    /* Glass effect */
    padding: 10px 30px;
    border-radius: 10px;
    text-align: left;
    width: fit-content;
}

.myorders-header h2 {
    margin: 0;
    color: #fff;
    font-size: 28px;
}

.myorders-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.myorder-item {
    width: calc(50% - 12.5px);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.myorder-id {
    font-size: 1.4rem;
    color: #2c3e50;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.order-status {
    font-weight: bold;
}

.my-order-status {
    padding: 8px 10px;
    border-radius: 5px;
}

.my-order-status.confirmed {
    background-color: #d4edda;
    color: #155724;
}

.my-order-status.rejected {
    background-color: #f8d7da;
    color: #721c24;
}

.my-order-status.waiting {
    background-color: #fdeebb;
    color: #856404;
}

.order-body {
    background-color: #f9f9f9;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.order-info p {
    margin: 5px 0;
    font-size: 16px;
    color: #4d4d4d;
    font-weight: bold;
}

.order-info p:last-child {
    margin-bottom: 0;
}

/*pagination*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.pagination button {
    background-color: #fff;
    border: 2px solid #fff;
    color: #2c3e50;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination button.active {
    background-color: #2c3e50;
    color: #fff;
    border: 2px solid #2c3e50;
}

.pagination button:hover {
    background-color: #2c3e50;
    color: #fff;
    border: 2px solid #2c3e50;
}

.next-button {
    width: auto !important;
    height: auto !important;
    padding: 6px 12px !important;
    border-radius: 5px !important;
    font-weight: bold;
}

.no-orders {
    text-align: center;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .myorder-id {
        font-size: 1.2rem;

    }
}

@media (max-width: 600px) {
    .myorders-wrapper {
        padding: 15px 15px;

    }

    .myorders-list {
        margin-top: 20px;
        padding: 10px;
        gap: 15px;
    }

    .myorder-item {
        width: calc(50% - 7.5px);
    }

    .myorder-id {
        font-size: 1rem;
    }

    .my-order-status {
        padding: 6px 6px;
        font-size: 14px;
    }

    .order-info p {
        margin: 0 0;
        font-size: 14px;
    }
}

@media (max-width: 475px) {
    .myorders-header {
        margin-top: 2rem;
        padding: 8px 25px;
    }

    .myorders-header h2 {
        font-size: 25px;
    }

    .myorders-list {
        gap: 10px;
    }

    .myorder-item {
        width: 100%;
    }
}